BeautifulReport==0.1.2
certifi==2020.6.20
chardet==3.0.4
ddt==1.4.1
et-xmlfile==1.0.1
HTMLTestRunner-Python3=0.8.0
idna==2.10
jdcal==1.4.1
jsonpath==0.82
openpyxl==3.0.4
pip==20.1.1
PyMySQL==0.10.0
requests==2.24.0
setuptools==49.1.0
urllib3==1.25.10
wheel==0.34.2
